.paginationContainer {
  position: sticky;
  bottom: 6px;
  display: flex;
  justify-content: space-between;
  overflow: auto;
  min-width: 355px;
  button {
    border: 0;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--pagination-color);
    margin-inline: 0.6rem;
    min-width: 3.5rem;
    cursor: pointer;
  }
  .pages {
    overflow: hidden;
    font-size: xx-large;
  }
  .prevBtn,
  .nextBtn {
    align-self: flex-end;
  }
  .hoverBtn {
    background-color: var(--hover-Btn);
  }
}
