*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}
body{
    height: 100vh;
	background-color: var(--background-color);
}