:root {
  //light_theme
  --background-color: #222;
  --card-background: #fff;
  --title-color: #858585;
  --pagination-color: #9cbbff66;
  --hover-Btn: #0072ff;
  --box-shaddow: 0px 1px 2px 0px rgb(60 64 67 / 15%),
    0px 2px 6px 2px rgb(60 64 67 / 5%);
  --products-background: #485c7c;
  --description-fontSize: 14px;
}
