.RMContainer{
  margin-block: 1rem;
  display: flex;
  .img{
   height: 130px;
   object-fit: contain;
  }
  .descriptions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    margin-right: 1.5rem;
    font-size: var(--description-fontSize);
    span{
      color: var(--title-color);
    }
  }
}