.card_container{
    background-color: var(--card-background);
    box-shadow: var(--box-shaddow);
    padding: 2rem;
    border-radius: 5px;
    min-width: 36rem;
    justify-content: space-between;
}